<h1>Collection#new</h1>


<%= form_for @collection do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <h2>Add Item to Collection:</h2>
  <%= f.fields_for :items do |item| %>
    <%= item.label :name %>
    <%= item.text_field :name %>
    <br>
    <%= item.label :description %>
    <%= item.text_area :description %>
    <br>
    <%= item.label :quantity %>
    <%= item.text_field :quantity %>
  <% end %>

  <br>
  <br>

  <%= f.submit %>
<% end %>

<br>
<br>
<%= link_to 'Cancel', collections_path %>
<p>Find me in app/views/collection/new.html.erb</p>
