<h2>Create a New Item</h2>

<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@item.errors.count, "error") %>
      prohibited this item from being saved:
    </h2>

    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= form_for([@collection, @item], :url => collection_items_path) do |f| %>

  <%= render partial: 'form', :locals => {:f => f} %>
    
  <%= f.submit "Create Item", :class => "btn btn-default btn-med" %>
  <% end %>
</p>

<p>
  <%= link_to 'Cancel', collections_path %>
</p>

