<p>
  Name: <%= @item.name %><br>
  Brand: <%= @item.brand %><br>
  Description: <%= @item.description %><br>
  Cost: <%= number_with_precision(@item.cost, precision: 2) %><br>

  <%= button_to "Delete item", collection_item_path(@item.collection_id, @item.id), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-default btn-med" %>

  <%= link_to "Edit item", edit_collection_item_path(@item.collection_id, @item.id), method: :get, :class => "btn btn-default btn-sm" %><br>
</p>

<p>
  <%= link_to 'Back to Collection', collection_path(@item.collection_id) %>
</p>

<p>
  <%= link_to 'Back to All Collections', collections_path %>
</p>

