<h1>Item#new</h1>

Create a New Item <br><br>

<%= form_for @item do |f| %>


Select brand:
<%= f.text_field :brand, list: "brands_autocomplete" %>
  <datalist id="brands_autocomplete">
    <%= Brand.all.each do |brand| %>
      <option value="<%= brand.name %>">
    <% end %>
  </datalist><br>
  <br>
  Or create new brand: 
  <br>
  <br>









  <%= f.fields_for :brand do |brand| %>
    <%= brand.label "Brand" %>
    <%= brand.text_field :name %>
  <% end %>
  <br>
  <br>
  <%= f.label "Name" %>
  <%= f.text_field :name %><br>

  <br>
  <%= f.label "Description" %><br>
  <%= f.text_area :description %><br>
  <%= f.label "Quantity" %>
  <%= f.text_field :quantity %><br>
  <br>
  <br>
  <br>

  <%= f.submit %>


<% end %>

<br><br>
<%= link_to 'Cancel', collections_path %>

<p>Find me in app/views/item/new.html.erb</p>


