<h1>Item#show</h1>

<% if @item.brand %>
Brand: <%= @item.brand.name %><br>
<% end %>
Name: <%= @item.name %><br>
Description: <%= @item.description %><br>
Quantity: <%= @item.quantity %><br>
Collection id: <%= @item.collection_id %><br>

<%= button_to "Delete item", collection_item_path(@item.collection_id, @item.id), method: :delete, data: { confirm: "Really?" } %>


<br>
<br>
<%= link_to 'Back to Collection', collection_path(@item.collection_id) %>
<br>
<br>

<br>
<br>
<%= link_to 'Back to All Collections', collections_path %>


