<h1>Item#show</h1>

Brand: <%= @item.brand.name %><br>
Name: <%= @item.name %><br>
Description: <%= @item.description %><br>
Quantity: <%= @item.quantity %><br>
Collection id: <%= @item.collection_id %>

<br>
<br>
<%= link_to 'Back to Collection', collection_path(@item.collection_id) %>
<br><br>
<%= link_to 'Back to All Collections', collections_path %>

<p>Find me in app/views/item/show.html.erb</p>
